/* Общие стили */
/* *
{
    border: 1px solid red;
}  */


body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;

    background-color: #8aa496;
}

/*Шапка*/

.site-wrapper {
    min-width: 1200px;
    /* background-color: #849d8f; */
    background-image: url("img/back-ice.png");
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;

    /* min-height: 100vh; */
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}


.slider {
    position: relative;

    padding-top: 321px;

    text-align: center;
    color: #ffffff;
}

.slide {
    display: none;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.button {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active{
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;

    font-size: 0;
}

.slider-controls label {
    display:inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    
    vertical-align: top;

    background-color: transparent;
    border:2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("img/back-ice.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("img/back-ice2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("img/back-ice3.png");
}



#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display:block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #fff;
}

a {
    text-decoration: none;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-height: 70px;

    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 160px;
}

.main-header-logo {
    position: absolute;
    width: 154px;
    height: 64px;
    margin-top: 10px;
}

.site-navigation,
.user-navigation {

    list-style: none;
}

.site-navigation {
    display: flex;
    margin: 0;
    margin-top: 30px;
    padding: 0;

    min-height: 70px;
    justify-content: left;
}

.user-navigation {
    display: flex;

    margin: 0;
    margin-top: 30px;
    padding: 0;

    min-height: 70px;
}


.site-navigation a,
.user-navigation a {
    display: block;
    color: #ffffff;
}

.main-navigation .main-link {
    border-radius: 16px;
    color: #fff;
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 7px 14px;
    text-decoration: none;
}

.main-navigation .main-link:hover {
    color: #323232;
    background-color: #f7f6f3;
    border-radius: 20px;
    text-decoration: none;
}

.main-menu .active-link {
    background-color: #d07058;
    color: #fff;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color:black;
    background: #ffffff;
}

.site-navigation li {
    padding: 0 25px;
}

.user-navigation li {
    padding: 0 25px;
}


.login-link::before {
    content:"";

    position: absolute;
    margin-left: -25px;

    width: 20px;
    height: 20px;

    background-image: url("svg/entrance1.svg");

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.login-link:hover::before {
    filter: invert(100%);
}

.market-cart::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;
    margin-left: -25px;

    background-image: url("svg/basket.svg");

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.market-cart:hover::before {
    filter: invert(100%);
   
}


.btn {
    display:inline-block;
    padding: 10px 10px;
    text-align: center;;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    vertical-align: top;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background:#f26843;
    background:linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
/* Главный раздел */


.promotion-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 30px;

}

.free-raspberry {
    background-image: url('img/berrys.jpg');
    border-radius: 15px;
    background-position: 0 0;
    background-repeat: no-repeat; 

    min-height: 201px;
    width: 520px;

    padding: 14px 20px;
    position: relative;

}

.free-raspberry h3 {
    font-size: 35px;
    color:#ffffff;
    font-weight: bold;

    padding: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.free-raspberry p {
    font-size: 18px;
    color:#ffffff;
    font-weight: bold;

    margin: 0;
    padding: 18px;
    padding-bottom: 50px;
    /* padding-right: 30px; */
}

.free-raspberry-button {
    float: right;
    padding: 11px 22px;
}

.free-chocolate {
    position: relative;
    z-index: 20;

    background-image: url('img/shoco.jpg');
    border-radius: 15px;
    background-repeat: no-repeat; 

    
    min-height: 201px;
    width: 520px;

    padding: 14px 20px;
    position: relative;
}

.free-chocolate h3 {
    font-size: 35px;
    color:#ffffff;
    font-weight: bold;

    padding: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.free-chocolate p {
    font-size: 18px;
    color:#ffffff;
    font-weight: bold;

    margin: 0;
    padding: 18px;
    padding-bottom: 50px;
}

.free-chocolate-button {
    float: right;
    padding: 11px 22px;
}


.range-list {
    display: flex;
    flex-direction: row;
    list-style: none;

    margin:0;
    padding: 0;
    margin-top: 40px;
}

.range-list li {
    border: 1px solid red;
    padding:10px;
}

.range-list li b {
    font-size: 25px;
    color: #ffffff;
}

.range-list li p {

    margin: 0;
    padding: 0;

    font-size: 18px;
    color:#ffffff;
}

.features {
    box-sizing: border-box;
    background-image: url('img/patern.jpg');
    background-repeat: repeat; 

    margin: 0;
    padding: 0;
    margin-top: 40px;
    border-radius: 15px;

    min-height: 308px;
}
.features h2 {
    font-size: 24px;

    padding-top: 30px;
    padding-left: 20px;
    
}

.features-list {
    box-sizing:border-box;
    display: block;
    list-style: none;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-right: 35px;
}

.feature-list-item {
    display: block;
    position: relative;
    line-height: 25px;
    margin: 0;
    padding: 0;
    margin-left: 65px;
    width: 510px;

    /* border: 1px solid red; */

}

.paragrapgh-first::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;
    left: -60px;
    top: 10px;
    
    background-image: url("svg/ice-cream.svg"); 

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.paragrapgh-second::before{
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;
    left: -60px;
    
    background-image: url("svg/eco.svg"); 

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.paragrapgh-third::before{
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    left: -60px;
    top: 10px;
    
    background-image: url("svg/cow.svg"); 

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.paragrapgh-forth::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    left: -60px;
   
    background-image: url("svg/thermometer.svg"); 

    background-repeat: no-repeat;
    background-position: 0 0; 
}

.blog {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}


.news {
    background-image: url('img/strawberry_background.jpg');
    background-repeat: no-repeat;
    width: 48%;
    height: 15vw;

    margin-right: 45px;
    border-radius: 15px;
}

.news p {
    font-size: 16px;
    padding: 0;
    padding-left: 20px;
}

.news a {
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    margin-left: 20px;
}

.mailing {
    background-color: #f8f7f4;

    box-sizing: border-box;
    width: 48%;
    height: 15vw;
    border: 3px solid #eb563b;
    font-size: 16px;
    border-radius: 15px;
    padding-left: 20px;
}

.mailing p {
    display: block;
    padding-top: 30px;
    
}

.mailing-button {
    /* margin-top: 19px; */
    border: none;
    
}


.subscription-email {
    border: 1px solid gray;
    border-radius: 5px;

    color: #323232;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 0px;
    /* margin-right: 3px; */
    /* margin-top: 17px; */
    outline: medium none;
    padding: 10px 0 9px 10px;
    width: 367px;
}

.map {
    position: relative;
}



.address {
    position: absolute;
    right: 50px;
    top:65px;
    z-index: 10;
    background-color: #ffffff;
    border-radius: 5%;
    width:22%;
    

}

.pre-address {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-left: 27px;
    font-size: 16px;
    line-height: 25px;
    margin-right: 20px;
    
}

.real-address, .mobile-phone{
    font-weight: bold;
    font-size: 18px;
    padding: 0;
}

.feedback-button {
    margin-left: 15px;
    padding: 10px 27px;
    border: none;
    margin-top: 18px;
    margin-bottom: 18px;
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
    background: #f26843;
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64); 
}


/* Подвал сайта */

.footer-social {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 78px;
    margin-top: 10px;
    padding-bottom: 0;
    padding-right: 30px;
    padding-top: 15px;
    position: relative;
    vertical-align: baseline;
    width: 200px;
}

.social-button {
    display: inline-block;
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
}

.social-button-tw {
    background: url("svg/twitter.svg") no-repeat #849d8f;
    top: 0px;
    left: -1px;
}

.social-button-inst {
    background: url("svg/instagram.svg");
    top: 0px;
    left: 47px;
}

.social-button-fb {
    background:url("svg/fb.svg");
    top: -1px;
    left: 95px;
}

.social-button-vk {
    background:url("svg/vk.svg");
    top: -1px;
    left: 145px;
}

.wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 30px;
}


.footer-for-providers {
    display: flex;
    flex-direction: row;
}

.wrap1-providers {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.wrap2-providers {
    display: flex;
    flex-direction: column;
}

.for-providers {
    font-size: 13px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}
/* Особое */

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
   
}